{% extends 'front/layout/layout.html.twig' %}

{% block title %}
	Liste des consoles
{% endblock %}

{% block body %}
	{% include "front/layout/header.html.twig" %}
	{% include "front/layout/sidebar.html.twig" %}
	<section id="main">
		<div>
			<div class="main_title">
				<h2>
					Consoles Nintendo
				</h2>
				<span>
					{{ consoles|length }}
				</span>
			</div>
			<div class="gallery">
				{% for console in consoles %}
					<div>
						<img src="/build/images/console_img/{{console.img}}" alt="">
						<div class="galleryBody">
							<h3>
								{{ console.name|upper }}
							</h3>
							<p class="year">
								Année de sortie :
								{{console.releasedate|date("d/m/Y")}}
							</p>
							<p class="description">
								{{ console.description|striptags|slice(0,350) ~ ' …' }}
							</p>
						</div>
						<button>
							<a href="/consoles/{{ console.slug }}">
								Voir
							</a>
						</button>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
	{% include "front/layout/footer.html.twig" %}
{% endblock %}
