{% extends 'front/layout/layout.html.twig' %}

{% block title %}
	Liste des licences
{% endblock %}

{% block body %}
	{% include "front/layout/header.html.twig" %}
	{% include "front/layout/sidebar.html.twig" %}
	<section id="main">
		<div>
			<div class="main_title">
				<h2>
					Licences Nintendo
				</h2>
				<span>
					{{ licences|length }}
				</span>
			</div>
			<div class="gallery">
				{% for licence in licences %}
					<div>
						<div>
							<img src="/build/images/licence_img/{{licence.img}}" alt="">
						</div>
						<div>
							<h3>
								{{ licence.name | upper }}
							</h3>
							{{ licence.description|raw}}
						</div>
						<button>
							<a href="/licences/{{ licence.slug }}">
								Lien
							</a>
						</button>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
	{% include "front/layout/footer.html.twig" %}
{% endblock %}
