{% extends 'front/layout/layout.html.twig' %}

{% block title %}
	Liste des jeux sur
	{{ console.name | capitalize }}
{% endblock %}

{% block body %}
	{% include "front/layout/header.html.twig" %}
	{% include "front/layout/sidebar.html.twig" %}
	<section id="main">
		<div>
			<div class="main_title">
				<h2>
					{{ console.name | upper }}
				</h2>
			</div>
			{# START CONSOLE SHOW #}
			<div class="show">
				<div>
					<div class="cardDescription">
						<img src="/build/images/console_img/{{console.img}}" alt="">
						<div>
							<p class="year">
								{{ console.name | capitalize }}
								<br>
								Année de sortie:
								{{console.releasedate|date("d/m/Y")}}
							</p>
							<p>
								{{console.description|raw}}
							</p>
						</div>
					</div>
				</div>
			</div>
			{# END CONSOLE SHOW #}
			<hr
			class="divider line glow">
			{# START ARTICLES GALLERY FROM CURRENT CONSOLE #}
			{% for articles in console.articles %}
				{% if articles.state and articles.moderated %}
					<div class="articles-gallery">
						<div>
							<div>
								<img src="/build/images/article_img/{{articles.img}}" alt="">
							</div>
							<div>
								<h4>
									{{ articles.name }}
								</h4>
								<p>
									{{ articles.description }}
								</p>
							</div>
							<div>
								<button>
									<a href="/articles/{{articles.slug}}">
										Voir
									</a>
								</button>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
			{# END ARTICLES GALLERY FROM CURRENT CONSOLE #}
		</div>
	</section>
	{% include "front/layout/footer.html.twig" %}
{% endblock %}
