{% extends 'front/layout/layout.html.twig' %}

{% block title %}
	{{ article.name }}
{% endblock %}

{% block body %}
	{% include "front/layout/header.html.twig" %}
	{% include "front/layout/sidebar.html.twig" %}
	<section id="main">
		<div>
			{# START ARTICLE SHOW #}
			<div class="show">
				<div>
					<img src="{{ asset('build/images/consoles/n64.jpg') }}" alt="">
					<div>
						<p class="year">
							{{ article.name | capitalize }}
							-
							{{ licence.name | capitalize}}
							<br>
							Année de sortie de l'article
							<br>
							Auteur :
							{{ article.author | capitalize}}
						</p>
						<p>
							Description de l'article - Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel recusandae et amet vero doloribus? Nam, eius dolorem consequatur quae aut vitae in ex ad. Ea ducimus excepturi eos magnam corporis?
						</p>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, tenetur omnis repellendus officiis quis iusto esse saepe hic natus nesciunt accusamus? Eum, voluptates.
						</p>
					</div>
				</div>
			</div>
			{# END ARTICLE SHOW #}
			{# START COMMENT SECTION #}
			<div class="commentSection">
				<div class="commentList">
					<h5>
						Liste des derniers commentaires :
					</h5>
					{% for comment in article.comments|slice(0, 5) %}
						<div class="comment">
							<p>
								{{ comment.author }}
								<br>
								{{ comment.content }}
							</p>
						</div>
					{% endfor %}
				</div>
				{% if app.user %}
					<div class="commentForm">
						{{ form(comment_form) }}
						</div>
					</div>
				{% else %}
					<span class="ps-2">
						Connectez vous pour pouvoir commenter cet article
					</span>
				{% endif %}
				{# END COMMENT SECTION #}
			</div>
		</div>
	</section>
	{% include "front/layout/footer.html.twig" %}
{% endblock %}
